/* navbar 1 */

.header{
    width: 100%;
    height: 50px;
    margin-top: -24px;
    background-color: #f4f4f4;
    
}
.lrnmore{
color: black;
}


body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.aprt{
    text-align: center;
    margin-top: 23px;
    padding-top: 14px;
}
.aprcont{
    width: 437px;
    height: 30px;
    background-color: white;
    margin: auto;
}

/* navbar 2*/

.container{
    width:100%;
    height:135px;
    margin-top: -80px;
}*{
    box-sizing: border-box;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: list-item;
    justify-content:space-between ;
    align-items: center;
    transition: 0.0s;
    padding: 40px 100px;

}
header.logo{
    position: relative;
    font-weight: 700;
    color:black;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.0s;

}
header ul{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
    margin-bottom: -22px;
    margin-top: -9px;

}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.0s;

}
.banner{
    position: relative;
    width: 100%;
    height: 90vh;
    background:url(bg.jpg);
    background-size: cover;
}
header.sticky{
    padding: 5px 100px;
    background:white;    

}

/* image divs */

.img1{
    width: 100%;
    border-radius: 8px;
}
.imgcont1{
    width: 93%;
    background-color: aqua;
    margin: auto;
    height: 600px;
    border-radius: 8px;
}
.imgtxtcont1{
width: 30%;
background-color: burlywood;
height: 50px;
margin-top: -770px;
margin-left: 42%;
}

/* first div */

.mY{
    color: white;
    font-size: 4em;
    font-weight:bold;
}
.mYd1{
    color: white;
    font-size: 29px;
    font-weight:bold;
    margin-top: -70px;
    text-decoration: underline;
    
}
.mYd2{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: -29px;
}
.btn1a{
    color: white;
    width: 240px;
    height: 40px;
    background-color:#3e6ae1;
    margin-top: 570px;
    margin-left: 440px;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
}
.btn1b{
    color:black;
    width: 240px;
    height: 40px;
    background-color:white;
    margin-top: 570px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
}

/* other image divs */

.imgcont2{
    width: 93%;
    background-color: white;
    margin: auto;
    margin-top: 230px;
    height: 600px;
    border-radius: 8px;
}
.btncta{
    color:white;
    width: 240px;
    height: 40px;
    background-color:#211613;
    margin-top: 570px;
    margin-left: 440px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
.btnctb{
    margin-left: 10px;
    color:white;
    width: 240px;
    height: 40px;
    background-color:#211613;
    margin-top: 570px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
.mXd2{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: -29px;
    text-decoration: underline;
    
}
.mXd1{
    color: white;
    font-size: 29px;
    font-weight:bold;
    margin-top: -70px;
    
}
.btncta:hover{
background-color:#2f201c;
}
.btnctb:hover{
    background-color:#2f201c;
}
.logo{
    width: 140px;
    margin-left: -432px;
}
.ctlogo{
    width: 740px;
    margin-left: -297px;
    margin-top: -20px;

}

/* images div */

.img2a{
   width: 49%; 
   background-color: #3e6ae1;
   height: 800px;
   float: left;
   border-radius: 8px;
   
}
.img2b{
    width: 49%; 
    background-color: #3e6ae1;
    height: 800px;
    float: left;
    margin-left: 2%;
    border-radius: 8px;
   
    
 }
 .ta{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
 }
 .tatxt{
    width: 22%;
    height: 100px;
    background-color: #3e6ae1;
    margin: auto;
    position: absolute;
    margin-left: 163px;
    margin-top: 50px;
 }

 /* sp = solar roof */
 .sp{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: -733px;
    font-weight: bold;
 }
 .spd{
    text-align: center;
    color: white;
    text-decoration: underline;
    font-size: 24px;
    margin-top: -50px;
}
.btnab1{
    color: white;
    width: 275px;
    height: 40px;
    background-color: #3e6ae1;
    margin-top: 550px;
    margin-left: 55px;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
}
.btnab2{
    color: #46494e;
    width: 275px;
    height: 40px;
    background-color: white;
    margin-top: 550px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
}
.btn1{
    color: white;
    width: 240px;
    height: 40px;
    background-color:#3e6ae1;
    margin-top: 570px;
    margin-left: 560px;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
}

/* accesories */

.acc{
    color: white;
    font-size: 4em;
    font-weight: bold;
    margin-left: -60px;
}

/* power wall */

.pw{
    color: white;
    font-size: 4em;
    font-weight: bold;
    margin-left: -33px;
}

/* video div */

.tvid{
    width: 1378px;
}
.wt{
    color: white;
    font-size: 50px;
    margin-left: -535px;
    font-weight: bold;
    margin-top: 95px;
}
.jt{
    margin-top: 35px;
    margin-left: 45px;
    background-color: white;
    color: black;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    border: none;
}

/* footer */

.para{
    width: 100%;
    background-color: white;
    height: 450px;
    margin-top: 315px;
}
.paratxt{
    color: #78797c;
    font-size: 13px;
    text-align: center;
}
.footer{
    color: #646669;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    word-spacing: 3px;
    margin-top: 25px;
}